* {
  font-family: 'Inter';
  margin-left: 0;
  margin-top: 0;
  text-align:left;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  width: 100%;
}
.input__wrapper_show-dropdown .ymaps-2-1-79-search__suggest {
  display: block !important;
}
.input__wrapper_hide-dropdown .ymaps-2-1-79-search__suggest {
  display: none !important;
}

h2 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 629;
  line-height: normal;
  margin-left: 40px;
  padding-top: 45px;
}

.MapVision {
  width: 100%; 
  height: 100%; 
  z-index: -1;
  display: flex;
}

.map {
  width: 100%; 
  height: 767px;
  top: 0px;
  display: inline-block;
}

.leftPanel {
  position: relative;
  overflow:scroll;
  z-index: 1;
  width: 500px;
  height: 767px;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.location {
  width: 300px;
}

.location ul {
  padding-left: 0;
  margin-left: 40px;
  width: 305.5px;
  list-style-type: none;
  margin-top:-25px;
  background-color: #eeeeee;
  border-radius: 0px 0px 12px 12px;
  border-top: 0;
  cursor: pointer;
}

.location li {
  width: 297px;
  border-top: 3px solid #ffffff;
  height: flex;
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 5px;
}

.leftPanel h2 {
  width: 300px;
}

.location button {
  padding-left: 0;
  background-color:#eeeeee;
  border: 0;
  cursor: pointer;
}

form {
  /* width: 300px; */
  width: 100%;
  flex-shrink: 0;
}

.DotCamp {
  overflow:visible;
  width: 300px;
}

input {
  border: none;
  margin-left: 40px;
  margin-bottom: 25px;
  display: flex;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  width: 300px;
  height: 35px;
  background-color: #ffffff;
}

input text {
  position: fixed;
  top: 10px;
  left: 10px;
}

span {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 629;
  line-height: normal;
  margin-left: 40px;
  /* padding-left: 10px; */
}

.Calculation {
  width: 300px;
}

.Calculation button {
  border-radius: 12px;
  border: 1px solid #000;
  background: #000;
  width: 300px;
  height: 58px;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 480;
  line-height: normal;
  margin-left: 40px;
  cursor: pointer;
  text-align: center;
}

.DotCamp button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  background-color: #FFF;
  border: none;
  line-height: normal;
  cursor: pointer;
  text-align: center;
  margin-left: 40px;
}

.DotCamp li button {
  width: 28px;
  height: 28px;
  border: none;
  line-height: normal;
  background-color: #ffffff;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
  color: #000000;
  margin-left: 0;
}

.DotCamp li img {
  width: 18px;
  height: 18px;
  border: none;
  line-height: normal;
  cursor: pointer;
  text-align: center;
}

.DotCamp ul {
  padding-left: 0;
  margin-top: 10px;
  margin-left: 40px;
  list-style-type: none;
  width: 300px;
}

.DotCamp input {
  margin-left: 0;
  border: 1px;
  width: 60px;
  height: 24px;
  flex-shrink: 0;
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-weight: 480;
  line-height: normal;
  cursor: pointer;
  text-align: center;
  margin-left: 40px;
  margin-bottom: 0;
}

.DotCamp li {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 300px;
}

.DotCamp li input{
  color: #000000;
  padding-top: 10px;
  margin-left: -5px;
}


.lostElement {
  border-bottom: 1px solid #9b9b9b;
  width: 300px;
  height: 2px;
  margin-left: 40px;
  padding-top: 20px;
}
